<div class="navparent" >
    <div class="container" fxLayout="column" fxLayoutAlign="start space-around">
        <div class="sumar-tokens" fxLayout fxLayoutAlign="start space-around">
            <img src="./assets/img/add.svg" alt="">
            <div class="mleft-1">{{ 'facturas.titleConfigurar' | translate }}</div>
        </div>
    </div>
</div>


<div class="container">

    <div class="container-facturas">

        <div class="button-white mtop-2 mbottom-2" routerLink="/configurar-cuenta">
            <img src="./assets/img/icon_volver.svg" alt="">
            <div>{{ 'facturas.botonVolver' | translate }}</div>
        </div>

        <div class="title-facturas mbottom-2">{{ 'facturas.titleInvoices' | translate }}</div>
        <div class="listado-facturas">

            <div class="item-factura">
                <div class="fact-fecha">
                    <img src="./assets/img/icon_calendar.svg" alt="">
                    <div>00/00/00</div>
                </div>
                <div class="ref-factura">
                    <img src="./assets/img/icon-docu.svg" alt="">
                    <div>ASDFGH123</div>
                </div>
                <div class="desc-factura">
                    <img src="./assets/img/icon-down.svg" alt="">
                    <div>Descargar</div>
                </div>
            </div>

            <div class="item-factura">
                <div class="fact-fecha">
                    <img src="./assets/img/icon_calendar.svg" alt="">
                    <div>00/00/00</div>
                </div>
                <div class="ref-factura">
                    <img src="./assets/img/icon-docu.svg" alt="">
                    <div>ASDFGH123</div>
                </div>
                <div class="desc-factura">
                    <img src="./assets/img/icon-down.svg" alt="">
                    <div>Descargar</div>
                </div>
            </div>

            <div class="item-factura">
                <div class="fact-fecha">
                    <img src="./assets/img/icon_calendar.svg" alt="">
                    <div>00/00/00</div>
                </div>
                <div class="ref-factura">
                    <img src="./assets/img/icon-docu.svg" alt="">
                    <div>ASDFGH123</div>
                </div>
                <div class="desc-factura">
                    <img src="./assets/img/icon-down.svg" alt="">
                    <div>Descargar</div>
                </div>
            </div>

            <div class="item-factura">
                <div class="fact-fecha">
                    <img src="./assets/img/icon_calendar.svg" alt="">
                    <div>00/00/00</div>
                </div>
                <div class="ref-factura">
                    <img src="./assets/img/icon-docu.svg" alt="">
                    <div>ASDFGH123</div>
                </div>
                <div class="desc-factura">
                    <img src="./assets/img/icon-down.svg" alt="">
                    <div>Descargar</div>
                </div>
            </div>

            <div class="item-factura">
                <div class="fact-fecha">
                    <img src="./assets/img/icon_calendar.svg" alt="">
                    <div>00/00/00</div>
                </div>
                <div class="ref-factura">
                    <img src="./assets/img/icon-docu.svg" alt="">
                    <div>ASDFGH123</div>
                </div>
                <div class="desc-factura">
                    <img src="./assets/img/icon-down.svg" alt="">
                    <div>Descargar</div>
                </div>
            </div>
        </div>
    </div>