@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
}


.navparent{
    position: relative;
    display: flex;
    flex-direction: row;
    max-height: 14em;
    background-color: #EE4266;
    border-bottom: solid;    
    width: 100%;
    padding: 1em 0;
}

.container dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sumar-tokens{
    display: flex;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    color: white;
    line-height: 50px;

    .img{
            height: 40px;
        
    }
}

.navempresa-tokens{

    .navempresa-tokens-img{
        margin-left: -35px;
        height: 5.6em;
    }
    .container-tokens {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: solid 3px #292929;
        border-radius: 10px;
        background-color: white;
        padding: 0 1em;
    }
    .text-tokens{
        align-items: left;
        color:black;
        font-family: 'Fredoka One', cursive;
        font-size: 16px;
    }
    .num-tokens{
        color: #EE4266;
        font-size: 35px;
        -webkit-text-stroke: 2px black;        
    }
    .sumar-tokens{
        cursor: pointer;
        font-family: 'Fredoka One', cursive;
        color: black;
        width: 60px;
            .img{
                height: 40px;
            
        }
    }
}

.container-pagos{
    width: 900px;
    max-width: 900px;
    
}

.title-pagos{
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.title{
    color:#818181 ;
    line-height: 16px;
}

.input-datos input{

    width: 20em;
    height: 30px;
    border: none;
    border: solid 1px #D1D1D1;
    border-radius: 5px;
    color: #292929;
}

.tarjeta{
    display: flex;
    line-height: 3em;

}

.tarjeta input{
    width: 10em;
    height: 30px;
    border: none;
    border: solid 1px #D1D1D1;
    border-radius: 5px;
    color: #292929;
}





.boton-volver {
    display: flex;
    background-color: white;
    border: solid 2px #292929;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(41, 41, 41, 0.5);
    cursor: pointer;
    width: 204px;
}

.boton-volver:hover {
    box-shadow: 2px 2px 2px rgb(41, 41, 41, 0.9);
}

.button-finalizar {
    width: 240px;
    background-color: #A5EB78;
    border: solid 2px #292929;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(41, 41, 41, 0.5);
    text-align: center;
    cursor: pointer;
    line-height: 40px;
}

.button-finalizar:hover {
    color: white;
    box-shadow: 2px 2px 2px rgb(41, 41, 41, 0.7);
}

.button-finalizar:hover p{
    color: white;
}
