<div class="dialog-body">
    <div mat-dialog-title>Recuperar contraseña</div>
</div>
<mat-dialog-content class="mat-typography">
    <div class="mtop-1 mbottom-1">
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Escribe tu email</mat-label>
          <input matInput id="email" formControlName="email" type="email">
        </mat-form-field>
      </form>
    </div>

  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
        Solicitar
    </button>
  </mat-dialog-actions>