<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <div class="img-mando" >
        <img src="./assets/img/mando.svg" alt="">
    </div>
    <div class="title mtop-2">{{ 'compra-factura.tokensOk' | translate }}</div>
    <div class="enlace-facturas mtop-1"><a href="">{{ 'compra-factura.downloadInvoice' | translate }}</a></div>
    <div class="button-continuar mtop-2" routerLink="/home">
        <div >{{ 'compra-factura.botonContinuar' | translate }}</div>
    </div>
</div>