@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');



.login-container {
    background-color: #EE4266 !important;
    min-height: 100%;
}

.login-parent{
    position: relative;
    margin: 0 auto;
    width: 100%;
  
    .login_image{
        img {
            width: 70%;
        }
    }
    .login-form{
        width: 100%;

        .errorMail, .errorPass{
            color: #ffd23f;
            font-family: 'Fredoka One';
        }
    }

    .custom-form {
        

        .inputemail, .inputpass {
            position: relative;

            .material-icons {
                position: absolute;
                left: 10px;
                top: 16px;
                color: grey;
            }
        }

        input {
            display: block;
            width: 250px;
            padding: 1rem 1rem 1rem 3rem;
            border: none;
            box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8),
            inset 5px 5px 10px
                rgba(0, 0, 0, 0.1);
            background: #ffffff;
            font-family: 'Fredoka One', cursive;
            font-size: 14px;
        
            &.input-email{
                border-radius: 1rem 1rem 0 0;
                border: 3px solid black;
                border-bottom: 1px solid black;
                margin-bottom: 0;
            }
            &.input-pass{
                margin-top: 0;
                border-radius: 0 0 1rem 1rem;
                border: 3px solid black;
            }
            &.is-invalid{
                color: #EE4266;
            }
        }
    }

    


    .login-button{
        background-color: #ffd23f;
        border-radius: 15px;
        width: 10em;
        height: 3em;
        font-size: large;
        text-align: center;
        justify-content: center;
        line-height: 2.50em;
        font-family: 'Fredoka One', cursive;
        border: rgba(255, 255, 255, 0.15);
        border: 3px solid #292929;
        border-radius: 15px;
        opacity: 1;
        background-color: whitesmoke;
        box-shadow:inset 0 -0.5em 0 -0.35em #292929;

    }

    .login-button:hover {
        cursor: pointer;
        box-shadow:inset 0 -0.5em 0 -0.35em whitesmoke;
        border: solid 3px white;
        cursor: pointer;
    }

    .example-section{
        color: white;
        font: 16px fredoka one;
        cursor: pointer;

    }
    .remind-pass{
        color: black;
        font: 14px fredoka one;
        text-decoration: none;
        cursor: pointer;

    }
    .create-button {
        width: 318px;
        height: 54px;
        background-color: #ffd23f;
        border: solid 3px #292929;
        border-radius: 15px;
        text-align: center;
        font-weight: 800;
        font-size: 24px;
        line-height: 0;
        box-shadow:inset 0 -0.5em 0 -0.35em #292929;
        text-align: center;
        color:black;
        font-size: 24px;
        letter-spacing: 2px;
        line-height: 2.20em;
    }

    .create-button:hover {
        cursor: pointer;
        box-shadow:inset 0 -0.5em 0 -0.35em white;
        border: solid 3px white;
    }

    .example-section{
        left: 30em;
    }
}

@media (min-width: 600px) {
    .login-parent {
        width: 400px;

        .login_image{
            img {
                width: auto;
            }
        }
    }
}

