/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #FFF2F2;
  position: relative;
}

button{
  background-color: transparent;
  background: none;
}

.visible-scrollbar, .invisible-scrollbar {
  display: block;
  width: 10em;
  overflow: auto;
}

.mtop-0 {
  margin-top: 0 !important;
}

.mbottom-0 {
  margin-bottom: 0 !important;
}

.mleft-0 {
  margin-left: 0 !important;
}

.mright-0 {
  margin-right: 0 !important;
}

.ptop-0 {
  padding-top: 0 !important;
}

.pbottom-0 {
  padding-bottom: 0 !important;
}

.pleft-0 {
  padding-left: 0 !important;
}

.pright-0 {
  padding-right: 0 !important;
}

.mtop-1px {
  margin-top: 1px !important;
}

.mbottom-1px {
  margin-bottom: 1px !important;
}

.mleft-1px {
  margin-left: 1px !important;
}

.mright-1px {
  margin-right: 1px !important;
}

.ptop-1px {
  padding-top: 1px !important;
}

.pbottom-1px {
  padding-bottom: 1px !important;
}

.pleft-1px {
  padding-left: 1px !important;
}

.pright-1px {
  padding-right: 1px !important;
}

.mtop-2px {
  margin-top: 2px !important;
}

.mbottom-2px {
  margin-bottom: 2px !important;
}

.mleft-2px {
  margin-left: 2px !important;
}

.mright-2px {
  margin-right: 2px !important;
}

.ptop-2px {
  padding-top: 2px !important;
}

.pbottom-2px {
  padding-bottom: 2px !important;
}

.pleft-2px {
  padding-left: 2px !important;
}

.pright-2px {
  padding-right: 2px !important;
}

.mtop-3px {
  margin-top: 3px !important;
}

.mbottom-3px {
  margin-bottom: 3px !important;
}

.mleft-3px {
  margin-left: 3px !important;
}

.mright-3px {
  margin-right: 3px !important;
}

.ptop-3px {
  padding-top: 3px !important;
}

.pbottom-3px {
  padding-bottom: 3px !important;
}

.pleft-3px {
  padding-left: 3px !important;
}

.pright-3px {
  padding-right: 3px !important;
}

.mtop-4px {
  margin-top: 4px !important;
}

.mbottom-4px {
  margin-bottom: 4px !important;
}

.mleft-4px {
  margin-left: 4px !important;
}

.mright-4px {
  margin-right: 4px !important;
}

.ptop-4px {
  padding-top: 4px !important;
}

.pbottom-4px {
  padding-bottom: 4px !important;
}

.pleft-4px {
  padding-left: 4px !important;
}

.pright-4px {
  padding-right: 4px !important;
}

.mtop-5px {
  margin-top: 5px !important;
}

.mbottom-5px {
  margin-bottom: 5px !important;
}

.mleft-5px {
  margin-left: 5px !important;
}

.mright-5px {
  margin-right: 5px !important;
}

.ptop-5px {
  padding-top: 5px !important;
}

.pbottom-5px {
  padding-bottom: 5px !important;
}

.pleft-5px {
  padding-left: 5px !important;
}

.pright-5px {
  padding-right: 5px !important;
}

.mtop-10px {
  margin-top: 10px !important;
}

.mbottom-10px {
  margin-bottom: 10px !important;
}

.mleft-10px {
  margin-left: 10px !important;
}

.mright-10px {
  margin-right: 10px !important;
}

.ptop-10px {
  padding-top: 10px !important;
}

.pbottom-10px {
  padding-bottom: 10px !important;
}

.pleft-10px {
  padding-left: 10px !important;
}

.pright-10px {
  padding-right: 10px !important;
}

.mtop-15px {
  margin-top: 15px !important;
}

.mbottom-15px {
  margin-bottom: 15px !important;
}

.mleft-15px {
  margin-left: 15px !important;
}

.mright-15px {
  margin-right: 15px !important;
}

.ptop-15px {
  padding-top: 15px !important;
}

.pbottom-15px {
  padding-bottom: 15px !important;
}

.pleft-15px {
  padding-left: 15px !important;
}

.pright-15px {
  padding-right: 15px !important;
}

.mtop-20px {
  margin-top: 20px !important;
}

.mbottom-20px {
  margin-bottom: 20px !important;
}

.mleft-20px {
  margin-left: 20px !important;
}

.mright-20px {
  margin-right: 20px !important;
}

.ptop-20px {
  padding-top: 20px !important;
}

.pbottom-20px {
  padding-bottom: 20px !important;
}

.pleft-20px {
  padding-left: 20px !important;
}

.pright-20px {
  padding-right: 20px !important;
}

.mtop-25px {
  margin-top: 25px !important;
}

.mbottom-25px {
  margin-bottom: 25px !important;
}

.mleft-25px {
  margin-left: 25px !important;
}

.mright-25px {
  margin-right: 25px !important;
}

.ptop-25px {
  padding-top: 25px !important;
}

.pbottom-25px {
  padding-bottom: 25px !important;
}

.pleft-25px {
  padding-left: 25px !important;
}

.pright-25px {
  padding-right: 25px !important;
}

.mtop-30px {
  margin-top: 30px !important;
}

.mbottom-30px {
  margin-bottom: 30px !important;
}

.mleft-30px {
  margin-left: 30px !important;
}

.mright-30px {
  margin-right: 30px !important;
}

.ptop-30px {
  padding-top: 30px !important;
}

.pbottom-30px {
  padding-bottom: 30px !important;
}

.pleft-30px {
  padding-left: 30px !important;
}

.pright-30px {
  padding-right: 30px !important;
}

.mtop-35px {
  margin-top: 35px !important;
}

.mbottom-35px {
  margin-bottom: 35px !important;
}

.mleft-35px {
  margin-left: 35px !important;
}

.mright-35px {
  margin-right: 35px !important;
}

.ptop-35px {
  padding-top: 35px !important;
}

.pbottom-35px {
  padding-bottom: 35px !important;
}

.pleft-35px {
  padding-left: 35px !important;
}

.pright-35px {
  padding-right: 35px !important;
}

.mtop-40px {
  margin-top: 40px !important;
}

.mbottom-40px {
  margin-bottom: 40px !important;
}

.mleft-40px {
  margin-left: 40px !important;
}

.mright-40px {
  margin-right: 40px !important;
}

.ptop-40px {
  padding-top: 40px !important;
}

.pbottom-40px {
  padding-bottom: 40px !important;
}

.pleft-40px {
  padding-left: 40px !important;
}

.pright-40px {
  padding-right: 40px !important;
}

.mtop-45px {
  margin-top: 45px !important;
}

.mbottom-45px {
  margin-bottom: 45px !important;
}

.mleft-45px {
  margin-left: 45px !important;
}

.mright-45px {
  margin-right: 45px !important;
}

.ptop-45px {
  padding-top: 45px !important;
}

.pbottom-45px {
  padding-bottom: 45px !important;
}

.pleft-45px {
  padding-left: 45px !important;
}

.pright-45px {
  padding-right: 45px !important;
}

.mtop-50px {
  margin-top: 50px !important;
}

.mbottom-50px {
  margin-bottom: 50px !important;
}

.mleft-50px {
  margin-left: 50px !important;
}

.mright-50px {
  margin-right: 50px !important;
}

.ptop-50px {
  padding-top: 50px !important;
}

.pbottom-50px {
  padding-bottom: 50px !important;
}

.pleft-50px {
  padding-left: 50px !important;
}

.pright-50px {
  padding-right: 50px !important;
}

.mtop-200px {
  margin-top: 200px !important;
}

.mbottom-200px {
  margin-bottom: 200px !important;
}

.mleft-200px {
  margin-left: 200px !important;
}

.mright-200px {
  margin-right: 200px !important;
}

.ptop-200px {
  padding-top: 200px !important;
}

.pbottom-200px {
  padding-bottom: 200px !important;
}

.pleft-200px {
  padding-left: 200px !important;
}

.pright-200px {
  padding-right: 200px !important;
}

.mtop-1 {
  margin-top: 1em !important;
}

.mbottom-1 {
  margin-bottom: 1em !important;
}

.mleft-1 {
  margin-left: 1em !important;
}

.mright-1 {
  margin-right: 1em !important;
}

.ptop-1 {
  padding-top: 1em !important;
}

.pbottom-1 {
  padding-bottom: 1em !important;
}

.pleft-1 {
  padding-left: 1em !important;
}

.pright-1 {
  padding-right: 1em !important;
}

.mtop-2 {
  margin-top: 2em !important;
}

.mbottom-2 {
  margin-bottom: 2em !important;
}

.mleft-2 {
  margin-left: 2em !important;
}

.mright-2 {
  margin-right: 2em !important;
}

.ptop-2 {
  padding-top: 2em !important;
}

.pbottom-2 {
  padding-bottom: 2em !important;
}

.pleft-2 {
  padding-left: 2em !important;
}

.pright-2 {
  padding-right: 2em !important;
}

.mtop-3 {
  margin-top: 3em !important;
}

.mbottom-3 {
  margin-bottom: 3em !important;
}

.mleft-3 {
  margin-left: 3em !important;
}

.mright-3 {
  margin-right: 3em !important;
}

.ptop-3 {
  padding-top: 3em !important;
}

.pbottom-3 {
  padding-bottom: 3em !important;
}

.pleft-3 {
  padding-left: 3em !important;
}

.pright-3 {
  padding-right: 3em !important;
}

.mtop-4 {
  margin-top: 4em !important;
}

.mbottom-4 {
  margin-bottom: 4em !important;
}

.mleft-4 {
  margin-left: 4em !important;
}

.mright-4 {
  margin-right: 4em !important;
}

.ptop-4 {
  padding-top: 4em !important;
}

.pbottom-4 {
  padding-bottom: 4em !important;
}

.pleft-4 {
  padding-left: 4em !important;
}

.pright-4 {
  padding-right: 4em !important;
}

.mtop-5 {
  margin-top: 5em !important;
}

.mbottom-5 {
  margin-bottom: 5em !important;
}

.mleft-5 {
  margin-left: 5em !important;
}

.mright-5 {
  margin-right: 5em !important;
}

.ptop-5 {
  padding-top: 5em !important;
}

.pbottom-5 {
  padding-bottom: 5em !important;
}

.pleft-5 {
  padding-left: 5em !important;
}

.pright-5 {
  padding-right: 5em !important;
}

.mtop-6 {
  margin-top: 6em !important;
}

.mbottom-6 {
  margin-bottom: 6em !important;
}

.mleft-6 {
  margin-left: 6em !important;
}

.mright-6 {
  margin-right: 6em !important;
}

.ptop-6 {
  padding-top: 6em !important;
}

.pbottom-6 {
  padding-bottom: 6em !important;
}

.pleft-6 {
  padding-left: 6em !important;
}

.pright-6 {
  padding-right: 6em !important;
}

.mtop-7 {
  margin-top: 7em !important;
}

.mbottom-7 {
  margin-bottom: 7em !important;
}

.mleft-7 {
  margin-left: 7em !important;
}

.mright-7 {
  margin-right: 7em !important;
}

.ptop-7 {
  padding-top: 7em !important;
}

.pbottom-7 {
  padding-bottom: 7em !important;
}

.pleft-7 {
  padding-left: 7em !important;
}

.pright-7 {
  padding-right: 7em !important;
}

.mtop-8 {
  margin-top: 8em !important;
}

.mbottom-8 {
  margin-bottom: 8em !important;
}

.mleft-8 {
  margin-left: 8em !important;
}

.mright-8 {
  margin-right: 8em !important;
}

.ptop-8 {
  padding-top: 8em !important;
}

.pbottom-8 {
  padding-bottom: 8em !important;
}

.pleft-8 {
  padding-left: 8em !important;
}

.pright-8 {
  padding-right: 8em !important;
}

.mtop-9 {
  margin-top: 9em !important;
}

.mbottom-9 {
  margin-bottom: 9em !important;
}

.mleft-9 {
  margin-left: 9em !important;
}

.mright-9 {
  margin-right: 9em !important;
}

.ptop-9 {
  padding-top: 9em !important;
}

.pbottom-9 {
  padding-bottom: 9em !important;
}

.pleft-9 {
  padding-left: 9em !important;
}

.pright-9 {
  padding-right: 9em !important;
}

.mtop-10 {
  margin-top: 10em !important;
}

.mbottom-10 {
  margin-bottom: 10em !important;
}

.mleft-10 {
  margin-left: 10em !important;
}

.mright-10 {
  margin-right: 10em !important;
}

.ptop-10 {
  padding-top: 10em !important;
}

.pbottom-10 {
  padding-bottom: 10em !important;
}

.pleft-10 {
  padding-left: 10em !important;
}

.pright-10 {
  padding-right: 10em !important;
}

.a {
  text-decoration: none;
  color: white;
}

.full-width {
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto !important;
}

@media (min-width: 600px) {
  .container {
    width: 85%;
  }
}

@media (min-width: 960px) {
  .container {
    width: 960px;
  }
}
/*# sourceMappingURL=styles.css.map */