<div class="navparent" >
    <div class="container" fxLayout="column" fxLayoutAlign="start space-around">
        <div class="sumar-tokens" fxLayout fxLayoutAlign="start space-around">
            <img src="./assets/img/add.svg" alt="">
            <div class="mleft-1">FAQ</div>
        </div>
    </div>
</div>

<div class="container">
    
    <div class="title-faq mtop-2 mbottom-1">FAQ DigiSaaS</div>
<div class="faq-question">{{ 'FAQ.title1' | translate }}</div>
<div class="faq-text">{{ 'FAQ.answer1' | translate }}</div>

<div class="faq-question">{{ 'FAQ.title2' | translate }}</div>
<div class="faq-text">{{ 'FAQ.answer2' | translate }}</div>

<div class="faq-question">{{ 'FAQ.title3' | translate }}</div>
<div class="faq-text">{{ 'FAQ.answer3' | translate }}</div>

<div class="faq-question">{{ 'FAQ.title4' | translate }}</div>
<div class="faq-text">{{ 'FAQ.answer4' | translate }}</div>


<div class="faq-question">{{ 'FAQ.title5' | translate }}</div>
<div class="faq-text">{{ 'FAQ.answer5' | translate }}</div>

<div class="faq-question">{{ 'FAQ.title6' | translate }}</div>
<div class="faq-text">{{ 'FAQ.answer6' | translate }}</div>

<div class="faq-question">{{ 'FAQ.title7' | translate }}</div>
<div class="faq-text">{{ 'FAQ.answer7' | translate }}</div>


<div class="faq-question">{{ 'FAQ.title8' | translate }}</div>
<div class="faq-text">{{ 'FAQ.answer8' | translate }}</div>


<div class="faq-question">{{ 'FAQ.title9' | translate }}</div>
<div class="faq-text">{{ 'FAQ.answer9' | translate }}</div>

<div class="faq-question">{{ 'FAQ.title10' | translate }}</div>
<div class="faq-text">{{ 'FAQ.answer10' | translate }}</div>

<div class="faq-question">{{ 'FAQ.title11' | translate }}</div>
<div class="faq-text">{{ 'FAQ.answer11' | translate }}</div>

<div class="faq-question">{{ 'FAQ.title12' | translate }}</div>
<div class="faq-text">{{ 'FAQ.answer12' | translate }}</div>
<div class="faq-question">{{ 'FAQ.title13' | translate }}</div>
<div class="faq-text">{{ 'FAQ.answer13' | translate }}</div>

<div class="faq-question">{{ 'FAQ.title14' | translate }}</div>
<div class="faq-text">{{ 'FAQ.answer14' | translate }}</div>

<div class="faq-question">{{ 'FAQ.title15' | translate }}</div>
<div class="faq-text">{{ 'FAQ.answer15' | translate }}</div>

<div class="faq-question">{{ 'FAQ.title16' | translate }}</div>
<div class="faq-text">{{ 'FAQ.answer16' | translate }}</div>
<div class="faq-question">{{ 'FAQ.title17' | translate }}</div>
<div class="faq-text">[video]</div>
<div class="faq-question">{{ 'FAQ.title18' | translate }}</div>
<div class="faq-text">[video]</div>
<div class="faq-question">{{ 'FAQ.title19' | translate }}</div>
<div class="faq-text">[video]</div>
<div class="faq-question">{{ 'FAQ.title20' | translate }}</div>
<div class="faq-text mbottom-2">{{ 'FAQ.answer20' | translate }}</div>
<div class="boton-volver" fxLayout="row" fxLayoutAlign="center center" routerLink="..">
    <img class="mright-1" src="./assets/img/icon_volver.svg" alt="">
    <div>Volver</div>
</div>
</div>
